# OS files
.DS_Store
Thumbs.db

# System/Server folders
.cagefs/
.cl.selector/
.vscode/

# Project metadata/Prompts
prompts/

# Deprecated/Old code
dev-deprecated/
old/
**/backup/
**/depricated/

# Sensitive Files (Not for GitHub)
jsLib/creds.js
jsLib/index.js
jsLib/creds_session.js

# Local configuration
*.log
